gradio
torch
torchaudio
transformers
accelerate
sentencepiece
numpy
pandas
datasets
evaluate
jiwer
rouge-score
bert-score
scikit-learn
matplotlib
librosa
soundfile
ctranslate2
faster-whisper
ipywidgets
jupyter
